// FAQ
.faq{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.faq__title{
  font-size: 5rem;
}

.faq__question,
.faq__answer,
.faq__li
{
  font-size: 0.8 * $label-font-size;
}


.faq__question{
  margin-top: 1.5rem;
}


.faq__question::before{
  content: 'Q: ';
}

.faq__answer::before{
  content: 'A: ';
}

.faq__answer{
  padding-left: 2rem;
  text-indent: -2rem;
}

.faq__ol,
.faq__ul
{
  padding-left: 2rem;
}


.faq__li{
  text-indent: 0;
}

