// FAQ
.faq{
  margin-bottom: 3rem;
}

.faq__title{
  font-size: 1.5 * $label-font-size;
}

.faq__question,
.faq__answer,
.faq__li
{
  font-size: 0.8 * $label-font-size;
}

.faq__question{
  margin-top: 1rem;
}

.faq__question::before{
  content: 'Q: ';
}

.faq__answer::before{
  content: 'A: ';
}

.faq__ol,
.faq__ul
{
  padding-left: 2rem;
}


