.block
  Hello. This is a block of text
.block-darker
  Hello. This is a block of darker text.
.block
  Hello. This is a block of text
.block-lighter
  Hello. This is a block of lighter text.
.block
  Hello. This is a block of text
