%h1 Color
= text_field_tag :color_1, '#ff0000', id: :color_1
= text_field_tag :color_2, '#ff9900', id: :color_2

.notice-box
  Click on a color to see its SASS definition

.colors-to-choose

%pre.sass-definitions

:javascript
  $(document).ready(function(){
    generateVersion2('.colors-to-choose')
  })
