.colored-box{
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
}

.shades-and-tints{
  display: inline-block;
}

.main-color{
  padding-bottom: 2rem;
}

.notice-box,
.sass-definitions
{
  color: #777;
  font-size: 1.5rem;
  font-family: monospace;
}

.notice-box{
  position: fixed;
  top: 1rem;
  right: 1rem;
}

