
/* common */
.notice-box,
.sass-definitions
{
  color: #777;
  font-size: 1.5rem;
  font-family: monospace;
}

.notice-box{
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  padding: 1rem;
  width: 100%;
  text-align: right;
}


/* 1 and 2 */

.shades-and-tints{
  display: inline-block;
}

.main-color{
  padding-bottom: 2rem;
}

.colored-box{
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
}


/* 3 and 4 */

$label-font-size: 1.6rem;
$tile-dimension: 4rem;

h1{
  margin-top: 4rem;
  font-size: 3rem;
}
h1,
.color-swatch__label,
.instructions
{
  color: #ccc;
}

.instructions{
  margin: 2rem 0;
  max-width: 50rem;
}

.color-swatch{
}
.color-swatch__tile{
  width: $tile-dimension;
  height: $tile-dimension;
  border: 1px solid #ccc;
}

.color-swatch__tile:hover{
  border-color: white;
}

.color-swatch__label{
  text-align: center;
}


/* 4 */


div{
  color: #ccc;
}

.hidden{
  display: none;
}

.title__holder{
  position: relative;
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: right;
}

.title__word
{
  font-size: 3.5rem;
}

.title__word,
.title__word-spacer,
.title__word_horizontal
{
  display: inline-block;
  position: relative;
}

.title__word_vertical
{
  font-size: 5.5rem;
  text-transform: uppercase;
}

.title__word_horizontal
{
  font-size: 5rem;
  text-transform: uppercase;
}


.title__word-spacer{
  width: 5rem;
  height: 1px;
}

.title__word_vertical{
  transform: rotate(270deg);
  position: absolute;
  bottom: 3.4rem;
  right: -5.4rem;
}

.title__hr{
  position: absolute;
  height: 6rem;
  width: 52.6rem;
  border-bottom: 2rem solid #ccc;
  border-left: 2rem solid #ccc;
  margin-top: -4.9rem;
}

.color-swatch__label-holder
{
  position: relative;
}

.color-swatch__label_desat,
.color-swatch__label_tint
{
  font-size: $label-font-size;
  text-align: left;
  color: #ccc;
  width: 8rem;
}

.color-swatch__label_desat
{
  transform: rotate(270deg);
  position: absolute;
  bottom: 4rem;
  left: -2.2rem;
}





.color-swatch__label_tint
{
  position: relative;
  bottom: 1.2rem;
}

.color-swatch__label_tint
{
  padding-left: 0.9rem;
}

.swatch__name
{
  font-size: $label-font-size;
}
.swatch__name-holder
{
  width: 14.3rem;
  min-height: 1px;
  display: inline-block;
  vertical-align: top;
  margin-top: 17rem;
}

.swatch__color-input
{
  width: 10rem;
  font-size: 2rem;
  height: $tile-dimension;
  text-align: right;
  padding-right: 0.5rem;
}

.swatch__table-holder
{
  display: inline-block;
  margin-top: 10rem;
}

.content
{
  width: 53rem;
  margin: 0 auto;
}

.download-link{
  color: #efae2c;
  font-size: $label-font-size;
}

.faq{
  margin-bottom: 3rem;
}

.faq__title{
  font-size: 1.5 * $label-font-size;
}

.faq__question,
.faq__answer,
.faq__li
{
  font-size: 0.8 * $label-font-size;
}

.faq__question{
  margin-top: 1rem;
}

.faq__question::before{
  content: 'Q: ';
}

.faq__answer::before{
  content: 'A: ';
}

.faq__ol,
.faq__ul
{
  padding-left: 2rem;
}

