# Redirect from www to non-www
# Source  https://simonecarletti.com/blog/2016/08/redirect-domain-http-https-www-apache/

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,NE,R=301]

